<footer class="footer pdg- mrgt">
  <div class="grid">
    <div class="w-1/3 grid__item">
      <p class="text-small mrgv--">
        <span class="hidden-sm-down">{{ site.settings.copyright }} </span>© {{ site.time | date: '%Y' }}</p>
    </div>
    <div class="w-1/3 grid__item">
      <ul class="list-inline list-inline--tight text-center">
        <li>
          <a href="{{ site.settings.social.pinterest }}">
            <img src="{{ site.baseurl }}/assets/images/icons/pinterest.svg" alt="pinterest" class="img-social" />
          </a>
        </li>
      </ul>
    </div>
    <div class="w-1/3 grid__item">
      <ul class="list-inline text-right">
        {% for lang in site.settings.languages %}
          {% assign pages = site.pages | where: "lang", lang | where: "key", page.key %}
          {% assign p = pages[0] %}

          {% if lang == page.lang %}
            {% assign class = 'text-bold' %}
          {% else %}
            {% assign class = '' %}
          {% endif %}

          <li class="{{ class }}">
            <a href="{{ p.url }}">{{ lang | upcase }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
