{% assign t = site.data.translations[page.lang] %}

<div class="container-inner hidden-md-up">
  <div class="grid grid--tight mrgb">
    <div class="w-1/2 grid__item">
      <a href="tel:{{ site.settings.phone | replace: ' ', '' }}" class="btn btn--block btn--primary">{{ t.vocab.call_now }}</a>
    </div>
    <div class="w-1/2 grid__item">
      {% assign pages = site.pages | where: "lang", page.lang | where: "key", "contact" %}
      {% assign contact_page = pages.first %}
      <a href="{{ contact_page.url }}" class="btn btn--block btn--default">{{ t.vocab.find_us }}</a>
    </div>
  </div>
</div>

<div class="container-inner">
  <blockquote class="important">
    {% if page.lang == "fr" %}
      <p>Chers patients,<br><br>

      Nous vous informons que notre cabinet suit l'ordonnance 2 du COVID-19 du 16 mars 2020 édité par la confédération Suisse.<br>
      Dès le 17 mars, NOUS SOMMES A VOTRE DISPOSITION UNIQUEMENT POUR LES URGENCES DENTAIRES. Afin d'éviter le regroupement de patient en salle d'attente, nous consultons sur rendez-vous fixés au préalable.</p>

      <p class="text-bold">Ne vous rendez pas directement au cabinet sans avoir au préalable pris un rendez-vous.<p>
      <p>Nous répondons du lundi au samedi à vos appels de 8h30 à 12h.<br>
      Vous pouvez également nous joindre par courriel à l'adresse suivante : <a href="mailto:mail@dentistebarthelemy.ch">mail@dentistebarthelemy.ch</a></p>

      <p>Nous espérons reprendre les consultations normales d’ici le 20 avril.<br>
      Nous vous remercions de votre compréhension.</p>

      <p>Dr Barthelemy Jonathan</p>
    {% else %}
      <p>Dear Patients,<br><br>

      We wish to inform you that our surgery is following the new Federal Order 2 COVID-19 issued on 13 March by the Swiss Federal Council (Swiss Government).<br>
      In accordance, as of 17 March, We are restricting treatment to  emergency DENTAL care only. To avoid patient conatct in the waiting room, we can only see patients by appointment. </p>

      <p class="text-bold">Please do not come directly to the surgery without calling first.</p>

      <p>We are able to answer calls from Monday to Saturday 8.30am to 12pm.<br>
      You can also contact us by email: <a href="mailto:mail@dentistebarthelemy.ch">mail@dentistebarthelemy.ch</a></p>

      <p>We hope to resume our regular practice by 20 April.<br>
      Thank you for your understanding.</p>

      <p>Dr Barthelemy Jonathan</p>
    {% endif %}
  </blockquote>
</div>

<img src="{{ site.baseurl }}/assets/images/nyon-chateau2.png" alt="Chateau de Nyon" class="img-responsive">
