{% assign t = site.data.translations[page.lang] %}

<div class="container-inner hidden-md-up mrgb">
  <div class="grid grid--tight">
    <div class="w-1/2 grid__item">
      <a href="tel:{{ site.settings.phone | replace: ' ', '' }}" class="btn btn--block btn--primary">{{ t.vocab.call_now }}</a>
    </div>
    <div class="w-1/2 grid__item">
      {% assign pages = site.pages | where: "lang", page.lang | where: "key", "contact" %}
      {% assign contact_page = pages.first %}
      <a href="{{ contact_page.url }}" class="btn btn--block btn--default">{{ t.vocab.find_us }}</a>
    </div>
  </div>

  {% assign pages = site.pages | where: "lang", page.lang | where: "key", "appointment" %}
  {% assign appointment_page = pages.first %}
  <p>{{ t.vocab.schedule_online }} <a href="{{ appointment_page.url }}">{{ appointment_page.title | downcase }}</a></p>
</div>

<img src="{{ site.baseurl }}/assets/images/nyon-chateau2.png" alt="Chateau de Nyon" class="img-responsive">

<div class="text-container mrgv">
  <div class="container-inner">
    {% if page.lang == 'fr' %}
      <p>Notre cabinet dentaire, situé au centre-ville de Nyon, à moins d’une minute de la gare, vous propose des <a href="/fr/nos-traitements.html">soins dentaires</a> de qualité.</p>
      <p>Votre bien-être est notre priorité. Nous  vous proposons une prise en charge confortable et globale dans un espace moderne et chaleureux. Un suivi est offert dès le plus jeune âge avec des soins personnalisés en fonction de la situation de chacun.</p>
      <p>Nous avons à notre disposition un équipement et des matériaux de pointe qui nous permettent de prodiguer des soins répondant aux exigences les plus élevées.</p>
      <p>Les membres de <a href="/fr/equipe-soignante.html">notre équipe</a> disposent d’une formation de qualité et suivent régulièrement des formations continues. De plus, nous sommes membres de la SSO (Société Suisse d’odontologie) ce qui vous <a href="https://www.sso.ch/fr/patients/avantages-des-dentistes-sso.html" target="_blank">garantit des soins excellents et une transparence en matière de coût</a>.</p>
      <p>Nous travaillons en collaboration avec des fournisseurs et laboratoires suisses assurant à nos traitements le savoir-faire suisse.</p>
      <p>Nous suivons les directives actuelles applicables à l’exploitation d’un cabinet dentaire édictées par la SSO afin de prévenir le risque de transmission du COVID-19 dans nos locaux.</p>
    {% else %}
    <p>Our dental clinic, located in central Nyon, less than a one minute walk from the train station, offers you quality <a href="/en/our-treatments.html">dental care</a>.</p>
      <p>Your well-being is our priority. Comfortable and comprehensive dental care is provided in a modern and friendly environment.</p>
      <p>We recognize that each case is unique and work with you to create a personalized treatment plan to fit your specific needs, from early-childhood welcome exams to comprehensive treatments.</p>
      <p>We strive to provide each patient with optimized and customized care.</p>
      <p>We use leading-edge dental equipment and materials to provide the highest standards of treatment to our patients.</p>
      <p>We have an extremely <a href="/en/healthcare-team.html">well-qualified team</a> with a wealth of experience. All our staff are active in keeping their knowledge and skills up to date by participating in further education.</p>
      <p>In addition, we are members of the Swiss Dental Association (SSO), which <a href="https://www.sso.ch/fr/patients/avantages-des-dentistes-sso.html" target="_blank">ensures you will receive excellent care and cost transparency</a>.</p>
      <p>We work in collaboration with Swiss suppliers and laboratories to guarantee our treatments benefit from Swiss know-how and quality standards.</p>
      <p>We follow the current guidelines for the operation of a dental practice issued by the SSO to prevent the risk of transmission of COVID-19 on our premises.</p>
    {% endif %}
  </div>
</div>
