.thumbnail {
  position: relative;
  display: inline-block;
}

.thumbnail__item {
  position: absolute;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.thumbnail__item--transparent {
  opacity: 0;
}

.thumbnail__label {
  position: absolute;
  top: 0;
  background-color: white;
  margin-top: 10px;
}

.thumbnail__label--before {
  left: 0;
}

.thumbnail__label--after {
  right: 0;
}

.thumbnail__body {
  background-color: $alt-color-lighter;
}

@media (min-width: $screen-md-min) {
  .thumbnail__body {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
